@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');

$font1: 'Bungee', cursive;
$font2: 'Armata', sans-serif;
$colr1: #E57373;
$colr2: #616161;
